body {
  font-family: sans-serif;
}

.slide {
  width: 300px;
}

[data-dynamo="loadmore"] {
  margin: 20px 0;
}

.popin {
  position: fixed;
  padding: 2rem;
  top: 20%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  background: rgba(255, 255, 255, 0.8);
}
